<!DOCTYPE html>
<!--Thymeleaf namespace.This will give thymeleaf th extension-->
<!-- th:replace  - apply common layout to all pages--> 
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
    <head>
        <meta charset="UTF-8"/>
        <title>Owners list</title>
    </head>
    <body>
        <h1 th:text="'Owners List'"> empty </h1>

        <!-- apply CSS styling-->
        <table class="table table-striped">
            <thead>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">First Name</th>
                <th style="width: 150px;">Last Name</th>
                <th style="width: 150px;">Address</th>
                <th style="width: 150px;">City</th>
                <th style="width: 150px;">Telephone</th>
            </thead>
            <tbody>
                <tr th:each="owner : ${owners}">
                    <td th:text="${owner.id}"> empty</td>
                    <td th:text="${owner.firstName}">empty</td>
                    <td th:text="${owner.lastName}">empty</td>
                    <td th:text="${owner.address}"> empty</td>
                    <td th:text="${owner.city}">empty</td>
                    <td th:text="${owner.telephone}">empty</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>